/*couleur bleu foncé: rgb(56, 56, 85 */
/*couleur gris clair: lightslategray */
/*couleur gris/rouge: rgb(117, 110, 110)*/
/*couleur yellow gold: #ffc107 */

/*font-family*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');



body {
  padding: 0;
  margin: 0;
}

.intro {
  line-height: 1.6;
}

h2 {
  font-family: 'Old Standard TT', serif;
  text-align: center;
  padding-top: 20px;
}

.btn-custom {
  float: right;
}

.btn-custom  a {
  padding: 10px 20px;
  background-color: lightslategray;
  color:beige;
  text-decoration: none;
  border-radius: 5px;
}  



.btn-custom:hover a {
  color: black;
  background-color: #ffc107;
}

.separator {
  background-color:#ffc107;
  width: 100%;
}



/*header*/  
.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu {
  padding-right: 40px;
}

.nav-item {
  padding-right: 20px;
}



/*bannière*/
#imageBannière {
  background: url(images/image-bannière.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding-top: 700px;
  justify-content:center;
  background-attachment: fixed;
}

.titre {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 60%;
  text-align: center;
  letter-spacing: 4px;
  color:lightslategray;
  text-shadow: 1px 1px 2px #ffc107;
  animation: titre ease 4s;
}

@keyframes titre {
  0% {
    opacity: 0;
    transform: translateY(300px);
    }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }  
}



/*école de musique */
.école {
  padding: 100px;
  background:lightgray;
  width: 100vh;
}

.colécole {
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro {
  text-align: justify;
  font-size: large;
}



/*main*/
h3 {
  font-family: 'Old Standard TT', serif;
}

.main {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: lightgray;
}

.elements {
  padding: 70px 0;
}

.elements img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

.elements p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

/*main (elements.html)*/
.festival {
  background: linear-gradient(to bottom,lightslategray,  #ffc107);
}


/*portfolio*/
.portfolio h2 {
  margin-bottom: 50px;
}

.souvenir {
  font-family: 'Old Standard TT', serif;
  text-align: center;
}

.portfolio {
  background-color: lightslategray;
  padding: 50px;
}

.mosaic {
  margin-left: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*width: 1100px;*/
  background: linear-gradient(to bottom,lightslategray,  #ffc107);
  border: 1px solid;
  border-color: lightslategray;
  border-radius: 5px;
  padding-bottom: 20px;
}



/********FOOTER********/
.footer {
  text-align: center;
  color:white;
  padding-bottom: 30px;
  background-color: rgba(33, 37, 41, 1);
}

.formulaire {
  width: 500px;
  display: inline-block;
  justify-content: center;
}

@media screen and (max-width : 509px) {
  .formulaire {
    width: 370px;
  } 
}