/*couleur bleu foncé: rgb(56, 56, 85 */
/*couleur gris clair: lightslategray */


body, html, .container-fluid {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}



/*header*/   
.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu a {
  margin-left: 60px; 
}



/*bannière*/

h1 {
  color:rgb(56, 56, 85);
  text-align: center;
  text-shadow: 1px 1px 20px lightslategray;
  padding: 40px 0 0 0;
  animation: titre ease 5s;
}
/*
@keyframes titre {
  0% {
    opacity: 0;
    transform: translateY(300px);
    }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }  
}
*/


.banner {
  max-width: 100%;
  max-width: 100%;
}

.ban {
 width: 100%;
 max-width: 100%; 
} 

.ban img {
  width: 100%;
  max-width: 100%;
}




/*main*/    
h3 {
  text-align: center;
}

.école {
  background: lightgrey;
  width: 100vh;
}

.colécole {
  height: 500px;
  padding-top: 50px;
}

h2 {
  text-align: center;
  font-style: normal;
}

h3 {
  padding-top: 20px;
}

.présentation {
  font-size: large;
  font-style: italic;
}

.intro {
  text-align: justify;
}

.groupe {
  align-items: center;
  background-color:lightslategray;
  border-radius: 5px;
  padding-top: 30px;
  margin: 20px;
}

.contenu {
  background: lightgrey;
}



/********FOOTER********/

.row-footer {
  text-align: center;
  color:white;
  background: black;
}